img {
    max-height:350px;
}
p {
    font-size: 120%;
    border-top: 2px solid white;
}

h2 {
    border-bottom: 1px solid black;
}

.playerCard {
    background-color: grey;
    border: 1px solid black;
    margin-top: 10%;
    text-align: center;
    border-radius: 3px;
}