*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #2C2C2C;
    text-decoration: none;
}

body {
    background-color: rgb(48, 48, 48);
    width: 60%;
    margin: auto;
} 

p {
    border-bottom: 2px solid white;
}

#output-main {
    display: grid;
    grid-gap: 40px;
    grid-row-gap: 30px;
}

.playerCard {
    padding: 10px;
    border-radius: 3px;
    background: linear-gradient(90deg, #fcff9e 0%, #c67700 100%);
    background-position: center;
    background-size: 290%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    font-size: small;
}

.imageSize {
    width: 100%;
} 

@media (max-width: 600px){
	#output-main{
		grid-template-columns: repeat(1,1fr);
	}
    #navList{  
        flex-direction: column;
    }
}

@media (min-width: 600px){
	#output-main{
		grid-template-columns: repeat(1,1fr);
	}
    #navList{  
        flex-direction: column;
    }
}

@media (min-width: 768px){
	#output-main{
		grid-template-columns: repeat(2,1fr);
	}
    #navList{    
        flex-direction: row;
    }
}

@media (min-width: 1200px){
	#output-main{
		grid-template-columns: repeat(4,1fr);
	}
}

#navList {
    display: flex;
    text-align: center;
    justify-content: space-around;
    list-style: none;
    text-decoration: none;
    padding-top: 20px;
    padding-bottom: 20px;
    background: linear-gradient(190deg, #fcff9e 0%, #c67700 100%);
    border: black 2px solid;
}

a {
    color: black
}

li:hover, a:hover {
    transform: scale(1.1);
    color: rgb(31, 31, 252);
}