body{
    background-color: rgb(250, 184, 98);
}
img {
    max-height: 200px;
}
p {
    font-size: 100%;
    border-top: 2px solid white;
}
h2:hover {
    background-color: rgb(86, 86, 252);
}
h2:active {
    background-color: rgb(86, 86, 252);
}
.playerCard {
    background-color: grey;
    border: 1px solid black;
    margin-top: 10%;
    text-align: center;
    border-radius: 3px;
}