body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(48, 48, 48);
    width: 60%;
    margin: auto;
}

img {
    max-height: 200px;
}

p {
    font-size: 100%;
    border-top: 2px solid white;
}

h2 {
    border-bottom: 2px solid white;
}

h2:hover {
    background-color: #c67700;
}

.playerCard {
    background: linear-gradient(90deg, #fcff9e 0%, #c67700 100%);
    border: 2px solid black;
    margin-top: 10%;
    text-align: center;
    border-radius: 3px;
    padding-bottom: 20px;
    margin-bottom: 10px;
}

#currentPlayerOutput {
    color: white;
}